
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, menu,
header, footer, hgroup, section, article, nav, figure, figcaption,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

header, footer, hgroup, section, article, nav, figure, figcaption
{ display: block; }

ol, ul { list-style: none; }

menu, ul, dir { -moz-padding-start: 0px; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

:focus { outline: none; }

ins { text-decoration: none; }

del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }


input[type=text], input[type=password],
textarea, select {
	-webkit-border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	resize: none;
	outline:none;
	background:none;
}