/**
 * APP Global Layout Style and device switch
 *
 * @author	Sven Neumann <s.neumann@zeigewas.de>
 * @package U-Wert-Quick App on Phonegap
 */

/* reset define */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, menu, header, footer, hgroup, section, article, nav, figure, figcaption, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; outline:0; vertical-align:baseline; background:transparent; }
header, footer, hgroup, section, article, nav, figure, figcaption { display: block; }
ol, ul { list-style: none; }
menu, ul, dir { -moz-padding-start: 0px; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
input[type=text], input[type=password], textarea, select { -webkit-border-radius:0; -moz-border-radius:0; resize: none; outline:none; background:none; }
:focus { outline: none; }

* { -webkit-touch-callout: none; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-user-select: none; }

/* global layout */
body { margin:0px; padding:0px; width:100%; height:100%; font-size:12px; font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif; background-color:#FFFFFF; }


/* Portrait layout (default) */
.app { }

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
}
